@font-face {
    font-family: 'qs';
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'ag';
    src: url(fonts/Agrandir-Regular.otf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'qs';
    user-select: none;
}

body{
    margin-bottom: 10vh;
}

header{
    position: fixed;
    margin-top: -7vh;
    width: 100%;
    z-index: 1000;
}

nav{
    background-color: #31273b;
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100%;
    box-shadow: 0 -1vh 0 1vh rgba(0, 0, 0, 0.2);
    position: fixed;
}

.imgicon{   
    width: 15vh;
    margin-left: 60%;
    margin-top: 1vh;
}

.menub{
    display: flex;
    width: 3.5vh;
    margin-left: 3.7vh;
    margin-right: 0.8vh;
}

.xb{
    display: none;
    width: 5vh;
    margin-left: 3vh;
}

.sb{
    display: flex;
    margin-left: 25%;
    border: 0.3vh solid #dbdbdb;
    border-radius: 1vh;
    width: 25%;
    height: 3.7vh;
    align-items: center;
    padding: 0.1vh;
    justify-content: space-between;
}

.st{
    background: none;
    outline: 0;
    border: 0;
    color: white;
    margin-left: 2%;
    width: 100%;
    font-size: 2vh;
}

.dsbu{
    width: 3vh;
    margin-top: 0.7vh;
    margin-right: 1.5vh;
}

.cm{
    margin-left: 33%;
    margin-top: 1vh;
}

.cm img{
    width: 2.8vh;
}

.pf{
    margin-top: 1vh;
    margin-left: 3.5vh;
}

.pf img{
    width: 3.7vh;
}

body{
    background-color: #252929;
}

a, p{
    color: white;
    text-decoration: none;
}

header a:hover {
    opacity: 0.7;
}

header img:hover{
    opacity: 0.7;
}

.imgs a:hover{
    cursor: pointer;
}

.menulist{
    position: fixed;
    top: 7%;
    height: 100%;
    width: 38vh;
    z-index: 999;
    background-color: #1b1620;
    border-right: 0.5vh solid #31273b;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menulist a,p{
    font-size: 3.3vh;
}

.top a{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 40%;
}

.top{
    margin-top: 5%;
}

.menua li{
    width: 100%;
    margin: 0;
    margin-left: 2.5vh;
    margin-top: 4.0vh;
    list-style: none;
}

.menua ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row{
    margin-bottom: -1vh;
    margin-top: 2vh;
    margin-left: 1vh;
    width: 34vh;
    height: 0vh;
    border: 0.3vh solid #31273b;
}

.b1{
    background-color: #1b2020;
    height: 52vh;
    max-width: 100%;
    padding-top: 4vh;
    margin-top: 7vh;
}

.ptop{
    font-size: 4vh;
    margin-bottom: -3vh;
    margin-left: 5vh;
}

.imgs{
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 5.5vh;
    padding-right: 7vh;
}

.b1 a img{
    width: 30vh;
    margin-top: 7vh;
    box-shadow: 0 0 3vh 2vh rgba(0, 0, 0, 0.7);
    margin-left: 7vh;
}

.imgs a{
    text-align: center;
}

.imgs a p{
    font-family: 'ag';
    font-size: 3vh;
    margin-left: 7vh;
    margin-top: 2vh;
}

.imgs::-webkit-scrollbar {
    height: 1vh;
}

.imgs::-webkit-scrollbar-thumb {
    background: #3f4141;
    border-radius: 2vh;
}

body::-webkit-scrollbar {
    width: 1vh;
}

body::-webkit-scrollbar-thumb {
    background: #3f4141;
    border-radius: 2vh;
}

.b2{
    background-color: #1d2020;
    width: auto;
    height: auto;
    margin-top: 8vh;
    margin-left: 9vh;
    margin-right: 9vh;
    padding-bottom: 10vh;
    border-radius: 2vh;
}

.r1{
    margin-top: 6vh;
    margin-bottom: -6vh;
    margin-left: 12vh;
}

.b2 div img{
    width: 23vh;
    box-shadow: 0 0 3vh 2vh rgba(0, 0, 0, 0.7);
}

.nea{
    display: flex;
    flex-direction: column;
}

.m1{
    display: flex;
    flex-direction: row;
    padding-top: 8vh;
    padding-left: 8vh;
    margin-top: 6vh;
}

.nm{
    color: #ffffff;
    font-size: 4vh;
    margin-top: 2vh;
}

.na{
    color: #ffffff;
    font-size: 2.5vh;
    margin-top: 1vh;
}

.nm,.na{
    margin-left: 5vh;
}

.pb{
    position: relative;
    top: 15vh;
    right: 24vh;
    width: 60vh;
    height: 1vh;
}

.pc{
    width: 100%; 
    max-width: 60vh;
    background-color: #403f41;
    border-radius: 5vh;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 0;
}

.pr{
    height: 1.5vh;
    width: 0;
    background-color: #fff;
    transition: width 0.1s;
}

audio {
    display: none;
}

.img-but{
    position: relative; /* Permite posicionar elementos dentro dele */
    display: inline-block; /* Faz o contêiner se ajustar ao conteúdo */
}

.play-pause-button {
    position: absolute; /* Posiciona o botão sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    border: none; /* Remove a borda */
    background: none;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    display: none; /* Centraliza o ícone dentro do botão */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.img-but:hover .play-pause-button{
    display: flex ;
}

.play-pause-button i img {
    width: 70%; /* Ajusta o tamanho do ícone */
    box-shadow: none;
    opacity: 0.8;
}
