@font-face {
    font-family: 'qs';
    src: url(fonts/Quicksand-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'qs';
}

nav{
    background-color: #31273b;
    display: flex;
    align-items: center;
    height: 7vh;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);

}

.imgicon{   
    width: 30%;
    margin-left: 20%;
    margin-top: 5px;
}

body{
    background-color: #252929;
}

a, p{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    opacity: 0.7;
}

.menulist{
    position: fixed;
    top: 7%;
    height: 100%;
    width: 18%;
    z-index: 999;
    background-color: #1b1620;
    border-right: 3px solid #31273b;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.top a{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 40%;
}

.top{
    margin-top: 5%;
}

.menua li{
    width: 100%;
    margin: 0;
    margin-left: 25px;
    margin-top: 40px;
    list-style: none;
}

.menua ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menub{
    display: flex;
    width: 1.7%;
    margin-left: 3.7vh;
    margin-right: 5vh;
}

.xb{
    display: none;
    width: 2.7%;
    margin-left: 3vh;
}

